* {
	box-sizing: border-box;
}

body {
	background: #D1BCE3;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

h1 {
	color: #FFF;
	font-family: 'Monoton', cursive;
	font-size: 78px;
}

h2 {
	font-size: 48px;
	font-weight: 900;
}


.profimg {
	width: 300px;
	height: 300px;
}


.container {
	width: 100%;
}

.events {
	display: inline-block;
}

header {
	/*background-image: url("assets/img/light.jpg");*/
	background-size: 50% 200px;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
	width: 100%;
}


.favSection {
	display: none;
	background: #A1867F;
	margin-bottom: 50px;
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	padding: 10px 0;
}

#search {
	width: 60%;
	margin: 0;
	margin-right: 10px;
	background: #FFF;
}

.btn {
	background: #19297C;
}

.search-result {
	background: #A1867F;
	display: none;
}

#search-image {
	width: 100px;
	height: auto;
}

#modal1 {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 0; 
	left: 0;
	top: 50px;
	width: 50%; 
	overflow: auto; 
	background-color: #FFF; 
	text-align: center;
}

#favheader {
	cursor: pointer;
	font-weight: 700;
	color: #FFF;
	font-size: 24px;
	text-align: center;
}